<h1>Scheduled Standups:</h1>
<% if Employee.two_active? %>
  <%= link_to("Add a standup", new_standup_path, class:"button") %>
<% else %>
  <p class="alert-box warning">
    Notice: Not enough active employees to create standup.
    <%= link_to("Go to employees page", employees_path) %>
  </p>
<% end %>
<ul>
  <% @standups.each do |standup| %>
    <li>
      <%= standup.date.strftime("%B %d, %Y") %>:
      <%= "#{standup.employees[0].name}, #{standup.employees[1].name}"%>
    </li>
  <% end %>
</ul>
