<h1>Employees:</h1>
<ul>
  <% @employees.each do |employee| %>
    <li>
      <%= employee.name %>:
      <% if employee.active %>
        (Active) <%= link_to("Make Inactive", employee_path(employee), method: :patch) %>
      <% else %>
        (Inactive) <%= link_to("Make Active", employee_path(employee), method: :patch) %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to("Add a New Employee", new_employee_path) %>
